<div class="family-lights">

    <div
        class="family-light"
        style="--x: 10%; --y: 40%;"
        data-reveal
    >
        <span></span>
    </div>


    <div
        class="family-light"
        style="--x: 28%; --y: 65%;"
        data-reveal
    >
        <span></span>
    </div>


    <div
        class="family-light"
        style="--x: 50%; --y: 30%;"
        data-reveal
    >
        <span></span>
    </div>


    <div
        class="family-light"
        style="--x: 72%; --y: 58%;"
        data-reveal
    >
        <span></span>
    </div>


    <div
        class="family-light"
        style="--x: 88%; --y: 35%;"
        data-reveal
    >
        <span></span>
    </div>

</div>