<div class="family-house-scene">

    <div class="house-glow"></div>

    <div class="house">

        <div class="roof"></div>

        <div class="house-body">

            <div class="house-window window-one"></div>

            <div class="house-window window-two"></div>

            <div class="house-door">

                <span></span>

            </div>

        </div>

    </div>


    <div class="house-caption">

        <span>
            HOME
        </span>

        <p>
            Where many stories found a place to rest.
        </p>

    </div>

</div>