<div
    class="family-letter-viewer"
    id="familyLetterViewer"
    aria-hidden="true"
>

    <button
        type="button"
        class="family-letter-close"
        id="familyLetterClose"
        aria-label="Close letter"
    >
        ×
    </button>


    <div class="family-letter-content">

        <span
            id="letterRole"
            class="chapter-eyebrow"
        ></span>


        <h3 id="letterName"></h3>


        <div
            class="letter-rule"
        ></div>


        <div
            id="letterMessage"
            class="letter-message"
        ></div>


        <div class="letter-signature">

            <span>With love,</span>

            <strong id="letterSignature"></strong>

        </div>

    </div>

</div>