<section class="parents-to-greg">

    <div class="parents-bridge">

        <div class="bridge-line bridge-mum">

            <span>
                Mum gave me
            </span>

            <strong>
                belief.
            </strong>

        </div>


        <div class="bridge-line bridge-dad">

            <span>
                Dad gave me
            </span>

            <strong>
                curiosity.
            </strong>

        </div>


        <div class="bridge-result">

            <span>
                And somewhere between the two...
            </span>

            <strong>
                I found the desire to build.
            </strong>

        </div>

    </div>

</section>