{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Grace | A Life That Became Home</title>

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600&family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">

</head>


<body>


<div class="stars"></div>


<section class="hero">


<div class="content">

<div class="opening-text">

    <p id="opening"></p>

</div>


<h1 id="title"></h1>


<p id="subtitle"></p>


<button id="journey">
Begin the Journey
</button>


</div>


</section>
<section class="prologue">

    <div class="prologue-overlay">

        <p class="chapter-text">
        Before she became a mother...
        </p>


        <p class="chapter-text">
        Before people called her Mum...
        </p>


        <h2>
        She was simply Grace.
        </h2>


        <div class="location">

            <span>Hono</span>

            <small>1979</small>

        </div>


    </div>

</section>


<script src="{% static 'js/intro.js' %}"></script>


</body>

</html>